<style type="text/css">

.box {
    border: 1px solid #ccc;
    padding: 2px;
    width:30px;
    height:30px;
}

.goods_img{
    border:1px solid #e5e5e5;
    border-radius:6px;
    height:300px;
    padding:5px;
}

</style>
<span>你好，此次订单（订单号：${order.order_id!}）的详情如下：</span>
<div style='color:red'>如有不清楚处，请联系Brenda Xu 电话：18612708216</div>
<br/>
<% if (!isEmpty(order.message)) { %>
    <div>买家留言：<span style='color:red'>${order.message!}</span></div>
<% } %>
<hr/>
<% for (c in order_commodities) { %>
    <div>
        <div style="float:left;padding:5px">
            <img src="${imageUrl!}/${c.commodity_pic}" class='goods_img' style="float:left">
        </div>
        <div style="float:left;padding:5px">
            <div style='padding-top:5px'>数量:${c.purchase_amount}</div>
            <hr/>
            <% if (!isEmpty(c.base_properties)) { %>
                <% for (p in c.base_properties) { %>
                    <div style='padding-top:5px'>${p.key!}:${p.value!}</div>
                    <hr/>
                <% } %>
            <% } %>
            <% if (!isEmpty(c.customize_properties)) { %>
                <% for (p in c.customize_properties) { %>
                  <div style='padding-top:5px'>
                    <div style="float:left;padding-right:5px">${p.type_name!}:${p.material_name!}</div>
                    <% if (!isEmpty(p.material_exhibition)) { %>
	                    <div style="float:left">
		                    <% if (p.exhibition_type == "0") { %>
		                        <div class='box' style='background-color:${p.material_exhibition}'></div>
		                    <% } else { %>
		                        <img src="${imageUrl!}/${p.material_exhibition}" style="width:40px">
		                    <% } %>
	                    </div>
	                <% } %>
                  </div>
                  <div style="clear:both"></div>
                  <hr/>
                <% } %>
            <% } %>
	        <% if (!isEmpty(c.user_printing)) { %>
                <div style='padding-top:5px'>
                  <div style="float:left;padding-right:5px">用户印花:</div>
                  <div style="float:left">
	                <img src="${imageUrl!}/${c.user_printing}" style="width:200px">
                  </div>
	            </div>
                <div style="clear:both"></div>
                <hr/>
	        <% } %>
	        <% if (!isEmpty(c.logo_style)) { %>
	            <ul style="float:left;list-style-type:none;padding-left:0px">
	                <div style='padding-top:5px'>logo内容:${c.logo_content}</div>
	                <% for (l in c.logo_style) { %>
	                    <li style="float:left;text-align:center;padding-left:10px">
	                        <img src="${imageUrl!}/${l.accessory_pic}" style="width:100px;">
	                        <p>￥${l.accessory_price} ${l.accessory_name}</p>
	                    </li>
	                <% } %>
	            </ul>
	        <% } %>
	        <% if (!isEmpty(c.inside_slot)) { %>
	            <ul style="float:left;list-style-type:none;padding-left:10px">
	                <div style='padding-top:5px'>定制开格</div>
	                <% for (l in c.inside_slot) { %>
	                    <li style="float:left;text-align:center">
	                        <img src="${imageUrl!}/${l.accessory_pic}" style="width:100px;">
	                        <p>￥${l.accessory_price} ${l.accessory_name}</p>
	                    </li>
	                <% } %>
	            </ul>
	        <% } %>
        </div>
    </div>
    <div style="clear:both"></div>
    <hr/>
<% } %>